body {
  background-image: url("images/montagne.jpeg") ;
  color : #7d7d7d;
  font-weight : 300;
  font-size: 15px;
  line-height: 1.6em;
}

h1, h2, h3 {
  font-family : 'Montserrat', sans-serif;
}

h1 {
  font-size : 22px ;
  color : #DD5555 ;
  font-weight : bold;
}

h2 {
  font-size : 18px ;
  font-weight : 300;
}

p {
  font-family: 'open sans'
}

a {
  text-decoration: none;
  color: #ccc;
}

a:hover {
  color : #DD5555 ;
}

.container {
    width: 500px;
    margin: 30px auto;
}

.card {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 3px grey;
}

.text-center {
  text-align: center;
}

.round {
  height: 200px;
  border-radius: 50%;
}

.inline > li {
  display: inline;
  margin: 20px;
  font-size: 32px;
}

#bouton {
  background-color: #DD5555 ;
  border-radius: 25px;
  color: white;
  font-size: 20;
  padding: 10px 25px 10px 25px;
}

#bouton:hover{
  background-color: #DD7777 ;
}

td img {
  height: 230px;
}
